*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	// font-family: Arial, sans-serif;
	text-align: center;
	//  background-color: #f4f4f4;
	 display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(182,179,216,100), rgba(170,120,222,100));
}
#quote-container {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	margin: auto;
	max-width: 500px;


}
#quote{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #847af2;
}
#quote::before{
content: '"';
font-size: 35px;
}
#quote::after{
content: '"';
font-size: 35px;
}

#generate-button{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #847af2;
	padding: 15px;
	border-radius: 5px;
	color: white;
	border: none;
}
#author::before{
	content: '------ '
}